<!doctype html>
<title>{% block title %}{% endblock %} - Norms</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='vizzy.js') }}"></script>
<nav>
  <h1>Where da normies</h1>
  <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('shelter.shelter') }}">Shelters</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
